{% extends 'AcmeDemoBundle::layout.html.twig' %}

{% block content_header_more %}
    <li><a href="{{ path('_welcome') }}">Demo Home</a></li>
{% endblock %}

{% block content %}
    BONUS 1
{% endblock %}