{% extends 'AcmeDemoBundle::layout.html.twig' %}

{% block title %}Symfony - Welcome{% endblock %}

{% block content_header_more %}
    <div class="container">
        <div class="col-md-8 col-md-offset-2">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="{{ path("_bonus_1") }}">Bonus I</a></li>
                    <li class="right-border"></li>
                    <li><a href="{{ path("_bonus_2") }}">Bonus II</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path("_demo_login") }}">Login</a></li>
                    <li class="right-border"></li>
                    <li><a href="{{ path("_bonus_welcome") }}">Welcome</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% include "AcmeDemoBundle:Welcome:content.html.twig" %}
{% endblock %}
