{% extends 'AcmeDemoBundle::layout.html.twig' %}

{% block title %}Symfony - Welcome{% endblock %}

{% block content_header_more %}
    <li><a href="{{ path('_bonus_1') }}">BONUS 1</a></li>
    <li><a href="{{ path('_bonus_2') }}">BONUS 2</a></li>
{% endblock %}

{% block content %}
    HOLA MUNDO
{% endblock %}
