{% extends 'AcmeDemoBundle::layout.html.twig' %}

{% block content %}
    <section id="pricing">
        <div class="container">
            <table class="table table-responsive table-striped table-hover">
                <thead>
                <tr>
                    <th width="20%"></th>
                    <th width="15%">Email</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.id }}</td>
                        <td>{{ entity.email }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}